# Replace these with your Jira Cloud credentials
# Rename to .env and use it for your python scripts

JIRA_EMAIL = "<abc@xyz.com>"
JIRA_API_TOKEN = "<your_secret_token>"
JIRA_DOMAIN="<your_domain>"
JIRA_BASE_URL="https://${JIRA_DOMAIN}.atlassian.net"

# Other variables
LOG_LEVEL=INFO  # Options: DEBUG, INFO, WARNING, ERROR, CRITICAL

LOGGIG_CONFIG_FILE = 'logging.conf'